<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="fontawesome-free-5.13.0-web/css/all.min.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/daftar.css">
    <script src="js/jquery.js"></script>

</head>

<body>
    <!-- REGISTER -->
    <div class="container regis">
        <div class="row box">
            <div class="col m4 s12 judul-register">
                <h2>Welcome Back!</h2>
                <p>Pastikan koneksi anda stabil agar bisa melakukan registrasi atau login</p>
                <div class="buton-login">
                    <button class="btn btn-primary masuk" type="submit" name="action">Masuk
                    </button>
                </div>
                <a href="index.html">Halaman utama</a>
            </div>
            <div class="col m8 s12 form">
                <h2>Create Account</h2>
                <div class="row">
                    <div class="input-field col s12 ">
                        <i class="material-icons prefix">person</i>
                        <input id="full_name" type="text" class="validate">
                        <label class="name" for="last_name">Full Name</label>
                    </div>

                    <div class="input-field col s12 email">
                        <i class="material-icons prefix">mail</i>
                        <input id="email" type="text" class="validate">
                        <label for="email">Email</label>
                    </div>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">vpn_key</i>
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>

                    <div class="input-field col s12 pass2">
                        <i class="material-icons prefix">vpn_key</i>
                        <input id="re-password" type="password" class="validate">
                        <label for="re-password">Re type Password</label>
                    </div>

                    <div class="row center-align">
                        <div class="col s4">
                            <div class="buton register">
                                <button class="btn waves-effect waves-light resgiter-buton" type="submit"
                                    name="action">Daftar
                                </button>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="buton register">
                                <button class="btn waves-effect waves-light resgiter-buton" type="submit"
                                    name="action">MASUK
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- REGISTER -->
    <div class="container sign-in">
        <div class="row box">
            <div class="col m4 s12 judul-signin">
                <h2>Register Account!</h2>
                <p>Pastikan koneksi anda stabil agar bisa melakukan registrasi atau login</p>
                <div class="buton-login daftar">
                    <button class="btn btn-primary masuk" type="submit" name="action">DAFTAR
                    </button>
                </div>
                <a href="index.html">Halaman utama</a>
            </div>
            <div class="col m8 s12 form">
                <h2>SIGN IN</h2>
                <div class="row">
                    <div class="input-field col s12 ">
                        <i class="material-icons prefix">person</i>
                        <input id="username" type="text" class="validate">
                        <label class="name" for="username">Username</label>
                    </div>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">vpn_key</i>
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="buton register">
                                <button class="btn waves-effect waves-light resgiter-buton" type="submit"
                                    name="action">SIGN IN
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/materialize.min.js"></script>
    <script src="js/daftar.js"></script>

</body>

</html>